# Data Science Tools and Ecosystem

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Finding about the commonly used languages for Data Science scuh as R, SQL, Java,Julia, Scala.
- Familiarisation with popular Data Management Tools: include Relational Databases, NoSQL Databases, and Big Data platforms
- Getting to know useful libraries such as Scikit-learn, Caffe and TensorFlow
- Listimg types of Machine learning (ML)

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

# Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy
3. Pandas
4. Keras

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author
Tanja Kalajdzic

## Author
Tanja Kalajdzic